body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ext {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}

.blue {
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}